ZEPTOMAIL_API_KEY=your_zeptomail_api_key_without_the_prefix
ZEPTOMAIL_FROM_EMAIL=hello@redorch.com
ZEPTOMAIL_FROM_NAME=Redorch Website
ZEPTOMAIL_API_URL=https://api.zeptomail.com/v1.1/email
CONTACT_TO_EMAILS=nazmul@redorch.com,ab@redorch.com
